<div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
  
    <div class="card-body">
      <form novalidate
            (ngSubmit)="saveSkill()"
            [formGroup]="skillForm">
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="skillNameId">Skill Name</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="skillNameId"
                   type="text"
                   placeholder="Name (required)"
                   formControlName="skillName"
                   [ngClass]="{'is-invalid': displayMessage.skillName }" />
            <span class="invalid-feedback">
              {{displayMessage.skillName}}
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="skillCodeId">Skill Code</label>
          <div class="col-md-8">
            <input class="form-control"
                   id="skillCodeId"
                   type="text"
                   placeholder="Code (required)"
                   formControlName="skillCode"
                   [ngClass]="{'is-invalid': displayMessage.skillCode}" />
            <span class="invalid-feedback">
              {{displayMessage.skillCode}}
            </span>
          </div>
        </div>
  
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="starRatingId">Skill Level (1-3)</label>
  
          <div class="col-md-8">
            <input class="form-control"
                   id="starRatingId"
                   type="text"
                   placeholder="Level (1-3)"
                   formControlName="starRating"
                   [ngClass]="{'is-invalid': displayMessage.starRating}" />
            <span class="invalid-feedback">
              {{displayMessage.starRating}}
            </span>
          </div>
        </div>
  
        <div formArrayName="tags">
          <div class="form-group row mb-2"
               *ngFor="let tag of tags.controls; let i=index">
            <label class="col-md-2 col-form-label"
                   [attr.for]="i">Tag</label>
  
            <div class="col-md-8">
              <input class="form-control"
                     [id]="i"
                     type="text"
                     placeholder="Tag"
                     [formControlName]="i" />
            </div>
            <button class="col-md-1 btn btn-outline-warning btn-sm"
                    type="button"
                    title="Delete this search tag"
                    (click)="deleteTag(i)">Delete Tag
            </button>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-2 mb-2">
            <button class="btn btn-outline-secondary btn-sm"
                    type="button"
                    title="Add a search tag"
                    (click)="addTag()">Add Tag
            </button>
          </div>
        </div>
        
        <!-- <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label"
                 for="descriptionId">Description</label>
  
          <div class="col-md-8">
            <textarea class="form-control"
                      id="descriptionId"
                      placeholder="Description"
                      rows=3
                      formControlName="description"
                      [ngClass]="{'is-invalid': displayMessage.description}"></textarea>
            <span class="invalid-feedback">
              {{ displayMessage.description}}
            </span>
          </div>
        </div> -->
  
        <div class="form-group row mb-2">
          <div class="offset-md-2 col-md-4">
            <button class="btn btn-primary mr-3"
                    style="width:80px;"
                    type="submit"
                    [title]="skillForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                    [disabled]="!skillForm.valid">
              Save
            </button>
            <button class="btn btn-outline-secondary mr-3"
                    style="width:80px;"
                    type="button"
                    title="Cancel your edits"
                    [routerLink]="['/skills']">
              Cancel
            </button>
            <button class="btn btn-outline-warning"
                    style="width:80px"
                    type="button"
                    title="Delete this skill"
                    (click)="deleteSkill()">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  
    <div class="alert alert-danger"
         *ngIf="errorMessage">{{errorMessage}}
    </div>
  </div>